.card {
  height: 100%;
  position: relative;
  min-height: 250px;
  color: var(--white);
  /* background-color: #bada55; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: right;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;

}

.card-background {
  position: absolute;
  height: 100%;
  width: 100%;
  /* filter: blur(4px); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-background::before {
  content: '';
  background-color: var(--primary);
  mix-blend-mode: color;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;

}


.card-background::after {
  content: '';
  background-color: var(--secondary);
  /* background: rgb(11, 8, 16);
  background: linear-gradient(90deg, rgba(11, 8, 16, 1) 0%, rgba(96, 60, 122, 1) 35%, rgba(217, 138, 45, 1) 100%); */
  position: absolute;
  height: 100%;
  width: 100%;
  /* clip-path: polygon(100% 0, 0% 100%, 100% 100%); */
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: clip-path .2s ease-out;
  top: 0;
  left: 0;
}

.card-background:hover {}

.card:hover .card-background::after {
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  mix-blend-mode: color;
}

.card-head {
  position: relative;
  z-index: 10;
  font-size: 28px;
  margin: 10px 40px;
}

.card-content {
  margin: 0 40px 20px 40px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transform: translate(150%);
  transition: transform .2s .2s ease;
}

.card:hover .card-content {
  transform: translate(0%);

}