@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Roboto:wght@300;400&display=swap');

:root {
  /* --font-primary: #257DD6;
  --badge-one: #257AC8;

  --neutral: #FFF;

  --badge-two: #ee4155;

  --primary: #fcf103;
  --secondary: #fbd804; */
  --primary: #D98A2D;
  --secondary: #603C7A;
  --accent-one: #5613E6;
  --white: #fff;
  --bg-primary: #0B0810;
}

* {
  font-family: 'Oswald',
    sans-serif;
}

.bold {
  font-weight: 600;
}

.main-wrapper {
  width: calc(100vw - 240px);
  margin: 0 auto 80px auto;
  /* padding: 0 calc(100vw - 240px); */
}