.banner {
  min-height: 50vh;
  /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}