.loading-wrapper {
  position: fixed;
  background-color: var(--primary);
  z-index: 100;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}