.main-nav {
  /* background-color: #bada55; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.main-nav__brand-logo {}

.brand-wrapper {
  position: relative;
}

.brand-wrapper::before {
  content: '';
  background-color: var(--primary);
  position: absolute;
  height: calc(100% + 70px);
  width: calc(100% + 70px);
  z-index: -1;
  padding: 50px;
  transform: translateY(-50px) translateX(-35px);
  border-radius: 30px;
}

.main-nav__items {
  display: flex;
  gap: 20px;
}

.main-nav__item {
  color: var(--white);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.065em;
}